/* #010B40 #03258C #044BD9 #0476D9 #91D7F2 */
html, body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: Helvetica, sans-serif;
  background: linear-gradient(180deg, #044BD9 0%, #010B40 100%);

  color: #fff;
  
  
}

.efeito_vidro{
  padding: 3em;
  background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(1, 1, 2, 0.555);
    backdrop-filter: blur(1.5rem);
    border-radius: 10px;
}

button {
  background: #0476D9;
  color: #fff;
  padding: 0 2.8rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.589);
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.712);
  border-radius: 1.5em;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.432);
  height: 2.6em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  background-color: #03258C;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  body {
    font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
  }

  .efeito_vidro {
    padding: 2em; /* Reduza o padding */
  }
}
